* {
  box-sizing: border-box;
}
body {
  font-family: "Alkalami", serif;
  font-family: "Fredoka One", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Patrick Hand", cursive;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
.first {
  background-color: rgba(76, 106, 81, 0.816);
  text-align: center;
  color: white;
  margin: 0;
  padding: 8px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width:1200px){
  .first{
    width: 100%;
  }
    
  }
  @media screen and (max-width: 998px) {
    .first{
      width: 100%;

    }
  }
  @media screen and (max-width: 768px) {
    .first{
      width: 100%;
    }
  }
  @media screen and (max-width: 576px){
    .first{
      width: 100%;
    }
  }
  @media screen and (max-width: 300px){
    .first{
      width: 100%;
    }
  }
nav ul li .li-1 {
  font-weight: bolder;
  padding: 0 450px 0 100px;
  display: flex;
  align-items: center;
}
nav ul li .li-1 img {
  padding: 5px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  background-color: white;
  padding: 15px;
}

nav ul li a {
  text-decoration: none;
  padding: 20px;
  color: black;
  border: 1px solid rgba(215, 210, 210, 0.118);
}

.button-first {
  margin: 20px 15px;
  border-radius: 7px;
  border: 1px solid rgba(128, 128, 128, 0.197);
  height: 20px;
  padding: 15px 20px 23px 20px;
}
.button-1 {
  border-radius: 8px;
}
.button-first.b1 {
  color: black;
  background-color: white;
  width: 110px;
  text-align: center;
}
.button-first.b1 img {
  size: 35px;
  padding-left: 10px;
}

.button-first.b2 {
  color: white;
  background-color: rgb(235, 130, 19);
  width: 150px;
  border: 1px solid orange;
}
@media screen and (max-width:1200px){
  .first{
    width: 100%;
  }
    
  }
  @media screen and (max-width: 998px) {
    .first{
      width: 100%;

    }
  }
  @media screen and (max-width: 768px) {
    .first{
      width: 100%;
    }
  }
  @media screen and (max-width: 576px){
    nav ul {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      list-style-type: none;
      background-color: white;
      padding: 10px;
    }
  }
  @media screen and (max-width: 300px){
    .first{
      width: 100%;
    }
  }
.container {
  margin: 0 0;
}
.row .col-6{
  margin: 90px 0;
}
.section .frame-1 {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
}
.section .frame-2 {
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.section {
  background-color: rgba(128, 128, 128, 0.09);
  height: 700px;
  position: relative;
}
.section .button-1 {
  border: none;
  padding: 8px;
  border-radius: 15px;
  margin: 150px 50px 0 130px;
  background-color: rgba(128, 128, 128, 0.325);
}
.section h1 {
  font-weight: 500;
  font-size: 50px;
  padding: 0px 130px;
}
.section p {
  padding: 0 190px 0 130px;
  color: gray;
  font-size: 20px;
}
.col-6 img {
  height: 700px;
  width: 700px;
}
.section input {
  margin-left: 130px;
  padding: 10px 30px 10px 40px;
  color: gray;
  border: 1px solid rgba(128, 128, 128, 0.222);
  border-radius: 8px;
  background-image: url(./icon/look.png);
  background-position: 7px 7px;
  background-repeat: no-repeat;
}

.section .button-2 {
  margin-left: 8px;
  background-color: #cf6f49;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}
@media screen and (max-width:1200px){
  .section .frame-1 {
    height: 105px;
    width: 105px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .section .frame-2 {
    height: 105px;
    width: 105px;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .section {
    background-color: rgba(128, 128, 128, 0.09);
    height: 700px;
    position: relative;
  }
  .section .button-1 {
    border: none;
    padding: 8px;
    border-radius: 15px;
    margin: 100px 20px 0 130px;
    background-color: rgba(128, 128, 128, 0.325);
  }
  .section h1 {
    font-weight: 300;
    font-size: 35px;
    padding: 0px 70px;
  }
  .section p {
    padding: 0 120px 0 70px;
    color: gray;
    font-size: 20px;
  }
  .col-6 img {
    height: 600px;
    width: 600px;
  }
  .section input {
    margin-left: 70px;
    padding: 10px 0px 10px 25px;
    color: gray;
    border: 1px solid rgba(128, 128, 128, 0.222);
    border-radius: 8px;
    background-image: url(./icon/look.png);
    background-position: 7px 7px;
    background-repeat: no-repeat;
  }
  
  .section .button-2 {
    margin-left: 8px;
    background-color: #cf6f49;
    border: none;
    color: white;
    padding: 8px 8px;
    border-radius: 8px;
  }
  }
  @media screen and (max-width: 998px) {
    .section .frame-1 {
      height: 50px;
      width: 50px;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
    .section .frame-2 {
      height: 80px;
      width: 80px;
      margin: 0;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .section {
      background-color: rgba(128, 128, 128, 0.09);
      height: 500px;
      position: relative;
    }
    .section .button-1 {
      border: none;
      padding: 8px;
      border-radius: 15px;
      margin: 110px 50px 0 130px;
      background-color: rgba(128, 128, 128, 0.325);
    }
    .section h1 {
      font-weight: 300;
      font-size: 40px;
      padding: 0px 100px;
    }
    .section p {
      padding: 0 160px 0 110px;
      color: gray;
      font-size: 16px;
    }
    .col-6 img {
      height: 500px;
      width: 100%;
    }
    .section input {
      margin-left: 100px;
      padding: 10px 30px 10px 30px;
      color: gray;
      border: 1px solid rgba(128, 128, 128, 0.222);
      border-radius: 8px;
      background-image: url(./icon/look.png);
      background-position: 7px 7px;
      background-repeat: no-repeat;
    }
    
    .section .button-2 {
      margin-left: 8px;
      background-color: #cf6f49;
      border: none;
      color: white;
      padding: 10px 10px;
      border-radius: 8px;
    }
  }
  @media screen and (max-width: 768px) {
    .section .frame-1 {
      height: 50px;
      width: 50px;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
    .section .frame-2 {
      height: 50px;
      width: 50px;
      margin: 0;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .section {
      background-color: rgba(128, 128, 128, 0.09);
      height: 800px;
      position: relative;
    }
    .section .button-1 {
      border: none;
      padding: 8px;
      border-radius: 15px;
      margin: 90px 50px 0 50px;
      background-color: rgba(128, 128, 128, 0.325);
    }
    .section h1 {
      font-weight: 130;
      font-size: 20px;
      padding: 0px 50px;
    }
    .section p {
      padding: 0 90px 0 50px;
      color: gray;
      font-size: 16px;
    }
    .col-6 img {
      height: 400px;
      width: 100%;
    }
    .section input {
      margin-left: 50px;
      padding: 10px 5px 10px 30px;
      color: gray;
      border: 1px solid rgba(128, 128, 128, 0.222);
      border-radius: 8px;
      background-image: url(./icon/look.png);
      background-position: 7px 7px;
      background-repeat: no-repeat;
    }
    
    .section .button-2 {
      margin-left: 8px;
      background-color: #cf6f49;
      border: none;
      color: white;
      padding: 10px 10px;
      border-radius: 8px;
    }
  }
  @media screen and (max-width: 576px){
    .section .frame-1 {
      height: 50px;
      width: 50px;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
    .section .frame-2 {
      height: 80px;
      width: 80px;
      margin: 0;
      position: absolute;
      bottom: 0;
      right: 0;
    } 
  }
  @media screen and (max-width: 300px){
    .section {
      background-color: rgba(128, 128, 128, 0.09);
      height: 800px;
      position: relative;
    }
    .section .button-1 {
      border: none;
      padding: 8px;
      border-radius: 15px;
      margin: 150px 50px 0 130px;
      background-color: rgba(128, 128, 128, 0.325);
    }
    .section h1 {
      font-weight: 300;
      font-size: 25px;
      padding: 0px 100px;
    }
    .section p {
      padding: 0 190px 0 130px;
      color: gray;
      font-size: 20px;
    }
    .col-6 img {
      height: 300px;
      width: 3  00px;
    }
    .section input {
      margin-left: 130px;
      padding: 10px 30px 10px 40px;
      color: gray;
      border: 1px solid rgba(128, 128, 128, 0.222);
      border-radius: 8px;
      background-image: url(./icon/look.png);
      background-position: 7px 7px;
      background-repeat: no-repeat;
    }
    
    .section .button-2 {
      margin-left: 8px;
      background-color: #cf6f49;
      border: none;
      color: white;
      padding: 10px 20px;
      border-radius: 8px;
    }
  }
.back {
  background-color:  #F5F5F2;
  padding-bottom: 250px;
}

@media screen and (max-width:1200px){
  .back {
    background-color:  #F5F5F2;
    padding-bottom: 250px;
  }
    
}
@media screen and (max-width: 998px) {
  .back {
    background-color:  #F5F5F2;
    padding-bottom: 250px;
  }
}
@media screen and (max-width: 768px) {
  .back {
    background-color:  #F5F5F2;
    padding-bottom: 250px;
    margin-top: 200px;
  }
}
@media screen and (max-width: 576px){
  
}
@media screen and (max-width: 300px){
  
}

.flash-cards .headline button {
  padding: 10px;
  border: none;
  border-radius: 12px;
  display: inline;
  align-items: center;
}
.section-4{
  margin-top: 25px;
}
.section-4 nav ul li img{
  margin: 20px;
}
.section-4 nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-4 .paragraph {
  display: inline-block;
  padding-right: 500px;
  margin-left: 8px;
}
.section-4 nav ul a {
  background-color: white;
  color: gray;
  font-weight: 600;
  list-style-type: none;
}
.section-5 {
  text-align: center;
}
.section-5 p {
  color: gray;
  margin: 2px 430px;
}

@media screen and (max-width:1200px){
  .section-5 {
    text-align: center;
  }
  .section-5 p {
    color: gray;
    margin: 2px 400px;
  }
    
}
@media screen and (max-width: 998px) {
  .section-5 {
    text-align: center;
  }
  .section-5 p {
    color: gray;
    margin: 2px 270px;
  }
}
@media screen and (max-width: 768px) {
  .section-5 {
    text-align: center;
  }
  .section-5 p {
    color: gray;
    margin: 2px 180px;
  }
}
@media screen and (max-width: 576px){
  .section-5 {
    text-align: center;
  }
  .section-5 p {
    color: gray;
    margin: 2px 100px;
  }
}
@media screen and (max-width: 300px){
  .section-5 {
    text-align: center;
  }
  .section-5 p {
    color: gray;
    margin: 2px 50px;
  }
}
.section-6 {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 40px 10px;
}

.section-6 img {
  height: 50px;
  width: 50px;
  background-color: #fae8e1;
  padding: 10px;
  border-radius: 7px;
}
.section-6 p {
  margin: 8px 30px;
  color: gray;
}
.section-6 .part-1 {
  display: inline;
  padding-top: 50px;
  width: 32%;
  border: 1px solid rgba(128, 128, 128, 0.316);
  box-shadow: 0 0 1.5px gray;
  border-radius: 10px;
  margin: 8px;
}
.section-6 .part-2 {
  display: inline;
  padding-top: 50px;
  width: 32%;
  border: 1px solid rgba(128, 128, 128, 0.316);
  box-shadow: 0 0 1.5px gray;
  border-radius: 10px;
  margin: 8px;
}

.section-6 .part-3 {
  display: inline;
  padding: 50px;
  width: 32%;
  border: 1px solid rgba(128, 128, 128, 0.316);
  box-shadow: 0 0 1.5px gray;
  border-radius: 10px;
  margin: 8px;
}

@media screen and (max-width:1200px){
  .section-6 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 40px 10px;
  }
  
  .section-6 img {
    height: 50px;
    width: 50px;
    background-color: #fae8e1;
    padding: 10px;
    border-radius: 7px;
  }
  .section-6 p {
    margin: 8px 20px;
    color: gray;
  }
  .section-6 h1{
    font-size: 30px;
  }
  .section-6 .part-1 {
    display: inline;
    padding-top: 40px;
    width: 32%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  .section-6 .part-2 {
    display: inline;
    padding-top: 40px;
    width: 32%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  
  .section-6 .part-3 {
    display: inline;
    padding: 40px;
    width: 32%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
    
}
@media screen and (max-width: 998px) {
  .section-6 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 40px 10px;
  }
  
  .section-6 img {
    height: 50px;
    width: 50px;
    background-color: #fae8e1;
    padding: 10px;
    border-radius: 7px;
  }
  .section-6 h1{
    font-size: 25px;
  }
  .section-6 p {
    margin: 8px 20px;
    color: gray;
  }
  .section-6 .part-1 {
    display: inline;
    padding-top: 30px;
    width: 32%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  .section-6 .part-2 {
    display: inline;
    padding-top: 30px;
    width: 32%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  
  .section-6 .part-3 {
    display: inline;
    padding: 30px;
    width: 32%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
}
@media screen and (max-width: 768px) {
  .section-6 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 10px;
  }
  
  .section-6 img {
    height: 40px;
    width: 40px;
    background-color: #fae8e1;
    padding: 10px;
    border-radius: 7px;
  }
  .section-6 p {
    margin: 8px 10px;
    color: gray;
  }
  .section-6 h1{
    font-size: 20px;
  }
  .section-6 .part-1 {
    display: inline;
    padding-top: 30px;
    width: 45%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  .section-6 .part-2 {
    display: inline;
    padding-top: 30px;
    width: 45%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  
  .section-6 .part-3 {
    display: inline;
    padding: 30px;
    width: 48%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
}
@media screen and (max-width: 576px){
  .section-6 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 10px;
  }
  
  .section-6 img {
    height: 40px;
    width: 40px;
    background-color: #fae8e1;
    padding: 10px;
    border-radius: 7px;
  }
  .section-6 p {
    margin: 8px 10px;
    color: gray;
  }
  .section-6 h1{
    font-size: 20px;
  }
  .section-6 .part-1 {
    display: inline;
    padding-top: 20px;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  .section-6 .part-2 {
    display: inline;
    padding-top: 20px;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  
  .section-6 .part-3 {
    display: inline;
    padding: 20px;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
}
@media screen and (max-width: 300px){
  .section-6 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 10px;
  }
  
  .section-6 img {
    height: 40px;
    width: 40px;
    background-color: #fae8e1;
    padding: 10px;
    border-radius: 7px;
  }
  .section-6 p {
    margin: 8px 10px;
    color: gray;
  }
  .section-6 h1{
    font-size: 20px;
  }
  .section-6 .part-1 {
    display: inline;
    padding-top: 20px;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  .section-6 .part-2 {
    display: inline;
    padding-top: 20px;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  
  .section-6 .part-3 {
    display: inline;
    padding: 20px;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
} 

.row {
  margin: 0;
  display: flex;
  justify-content: center;
}
.col-6 .option-1 {
  max-width: 700px;
  padding: 120px 215px 1px 50px;
}
.option-1 {
  height: 20px;
}
.option-1 .button-1 {
  border-radius: 12px;
  padding: 3px 7px;
  border: 1px solid #E7E8E3;
  background-color: #E7E8E3;
}
.option-1 .button-2 {
  padding: 8px;
  background-color: white;
  border: 1px solid gainsboro;
  box-shadow: 0 0 2px;
  border-radius: 5px;
}
.option-1 h1 {
  font-size: 30px;
}
.option-1 p {
  color: gray;
}
.option-1 .button-3 {
  padding: 40px;
}

@media screen and (max-width:1200px){
  .row {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .col-6 .option-1 {
    max-width: 600px;
    padding: 120px 150px 1px 50px;
  }
  .option-1 {
    height: 20px;
  }
  .option-1 .button-1 {
    border-radius: 12px;
    padding: 3px 7px;
    border: 1px solid #E7E8E3;
    background-color: #E7E8E3;
  }
  .option-1 .button-2 {
    padding: 12px;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0 0 2px;
    border-radius: 5px;
  }
  .option-1 h1 {
    font-size: 30px;
  }
  .option-1 p {
    color: gray;
  }
  .option-1 .button-3 {
    padding: 40px;
  }
    
}
@media screen and (max-width: 998px) {
  .row {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .col-6 .option-1 {
    max-width: 500px;
    padding: 100px 130px 1px 50px;
  }
  .option-1 {
    height: 20px;
  }
  .option-1 .button-1 {
    border-radius: 12px;
    padding: 3px 7px;
    border: 1px solid #E7E8E3;
    background-color: #E7E8E3;
  }
  .option-1 .button-2 {
    padding: 12px;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0 0 2px;
    border-radius: 5px;
  }
  .option-1 h1 {
    font-size: 20px;
  }
  .option-1 p {
    color: gray;
  }
  .option-1 .button-3 {
    padding: 30px;
  }
}
@media screen and (max-width: 768px) {
  .row {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col-6 .option-1 {
    max-width: 500px;
    padding: 100px 130px 1px 50px;
  }
  .option-1 {
    height: 20px;
  }
  .option-1 .button-1 {
    border-radius: 12px;
    padding: 3px 7px;
    border: 1px solid #E7E8E3;
    background-color: #E7E8E3;
  }
  .option-1 .button-2 {
    padding: 12px;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0 0 2px;
    border-radius: 5px;
  }
  .option-1 h1 {
    font-size: 20px;
  }
  .option-1 p {
    color: gray;
  }
  .option-1 .button-3 {
    padding: 30px;
  }
  .row .col-6 img{
    margin-top: 20px;
    height: 300px;
    width: 100%;
  }
}
@media screen and (max-width: 576px){
  .row {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col-6 .option-1 {
    max-width: 800px;
    padding: 100px 130px 1px 50px;
  }
  .option-1 {
    height: 100px;
  }
  .option-1 .button-1 {
    border-radius: 12px;
    margin: 2px;
    border: 1px solid #E7E8E3;
    background-color: #E7E8E3;
  }
  .option-1 .button-2 {
    padding: 12px;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0 0 2px;
    border-radius: 5px;
  }
  .option-1 h1 {
    font-size: 16px;
  }
  .option-1 p {
    color: gray;
    font-size: 12px;
  }
  .option-1 .button-3 {
    padding: 30px;
  }
  .row .col-6 img{
    margin-top: 80px;
    height: 200px;
    width: 100%;
  }
}
@media screen and (max-width: 300px){
  .row {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col-6 .option-1 {
    max-width: 600px;
    padding: 100px 130px 1px 50px;
  }
  .option-1 {
    height: 100px;
  }
  .option-1 .button-1 {
    font-size: 10px;
    border-radius: 12px;
    margin: 2px;
    border: 1px solid #E7E8E3;
    background-color: #E7E8E3;
  }
  .option-1 .button-2 {
    padding: 5px;
    font-size: 10px;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0 0 2px;
    border-radius: 5px;
  }
  .option-1 h1 {
    font-size: 16px;
  }
  .option-1 p {
    color: gray;
    font-size: 12px;
  }
  .option-1 .button-3 {
    padding: 30px;
  }
  .row .col-6 img{
    margin-top: 150px;
    height: 200px;
    width: 100%;
  }
}


.option .row.zero img {
  height: 40px;
  width: 50px;
}
.option {
  margin: 45px 170px 0px 65px;
}
.option button {
  padding: 7px 10px;
  background-color:  #E7E8E3;
  border-radius: 15px;
  border: none;
}
.option p {
  color: gray;
  margin-bottom: 40px;
}
.option .col-6 {
  margin: 0;
}
.option img {
  height: 50px;
  width: 45px;
  background-color: #fae8e1;
  padding: 8px;
  border-radius: 8px;
}
.option .explore {
  padding: 12px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.485);
  margin-right: 20px;
}
.option a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width:1200px){
  .flash-cards h1 {
    text-align: center;
    margin-bottom: 60px;
  }
  .row.one .card {
    margin: 10px;
    background-color: white;
  }
  .row.one .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.one p{
    color: gray;
  }
  .row.two .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.two p{
    color: gray;
  }
  .row.two col-6{
    height: 500px;
    margin: 0;
    width: 800px;
  }
  .flash-cards .proper {
    margin: 15px auto;
    display: flex;
    border-radius: 14px;
    padding: 6px 10px;
    background-color:  #E7E8E3;
    border: none;
  }
  .row.two .card {
    background-color: white;
    margin: 10px;
  }
  .row.one ul li{
    margin: 10px;
  }
  .row.two ul li{
    margin: 10px;
  }
  .flash-cards {
    position: relative;
    padding-top: 50px;
  }
  .headline .frame4 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .headline .flex {
    display: flex;
    justify-content: center;
    margin: 30px 25px;
    align-items: center;
  }
  .flex .button2 {
    background-color: white;
    padding: 11px 15px;
    border: 0.5px solid rgba(128, 128, 128, 0.471);
    border-radius: 3px;
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.462) ;
  }
  
  .card ul {
    display: flex;
    list-style-type: none;
    justify-content: left;
  }
  .card ul li img {
    margin-right: 8px;
  } 
  
    
}
@media screen and (max-width: 998px) {
  .flash-cards h1 {
    text-align: center;
    margin-bottom: 60px;
  }
  .row.one .card {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
    background-color: white;
  }
  .row.one .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.one p{
    color: gray;
  }
  .row.two .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.two p{
    color: gray;
  }
  
  .flash-cards .proper {
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 14px;
    padding: 6px 10px;
    background-color:  #E7E8E3;
    border: none;
  }
  .row.two .card {
    background-color: white;
    margin: 10px;
  }
  .row.one ul li{
    margin: 10px;
  }
  .row.two ul li{
    margin: 10px;
  }
  .flash-cards {
    position: relative;
    padding-top: 50px;
  }
  .headline .frame4 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .headline .flex {
    display: flex;
    justify-content: center;
    margin: 30px 25px;
    align-items: center;
  }
  .flex .button2 {
    background-color: white;
    padding: 11px 15px;
    border: 0.5px solid rgba(128, 128, 128, 0.471);
    border-radius: 3px;
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.462) ;
  }
  
  .card ul {
    display: flex;
    list-style-type: none;
    justify-content: left;
  }
  .card ul li img {
    margin-right: 8px;
  } 
   
}
@media screen and (max-width: 768px) {
  .flash-cards h1 {
    text-align: center;
    margin-bottom: 60px;
  }
  .row.one .card {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
    background-color: white;
  }
  .row.one .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.one p{
    color: gray;
  }
  .row.two .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.two p{
    color: gray;
  }
  
  .flash-cards .proper {
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 14px;
    padding: 6px 10px;
    background-color:  #E7E8E3;
    border: none;
  }
  .row.two .card {
    background-color: white;
    margin: 10px;
  }
  .row.one ul li{
    margin: 10px;
  }
  .row.two ul li{
    margin: 10px;
  }
  .flash-cards {
    position: relative;
    padding-top: 50px;
  }
  .headline .frame4 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .headline .flex {
    display: flex;
    justify-content: center;
    margin: 30px 25px;
    align-items: center;
  }
  .flex .button2 {
    background-color: white;
    padding: 11px 15px;
    border: 0.5px solid rgba(128, 128, 128, 0.471);
    border-radius: 3px;
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.462) ;
  }
  
  .card ul {
    display: flex;
    list-style-type: none;
    justify-content: left;
  }
  .card ul li img {
    margin-right: 8px;
  } 
   
}
@media screen and (max-width: 576px){
  .flash-cards h1 {
    text-align: center;
    margin-bottom: 60px;
  }
  .row.one .card {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
    background-color: white;
  }
  .row.one .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.one p{
    color: gray;
  }
  .row.two .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.two p{
    color: gray;
  }
  
  .flash-cards .proper {
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 14px;
    padding: 6px 10px;
    background-color:  #E7E8E3;
    border: none;
  }
  .row.two .card {
    background-color: white;
    margin: 10px;
  }
  .row.one ul li{
    margin: 10px;
  }
  .row.two ul li{
    margin: 10px;
  }
  .flash-cards {
    position: relative;
    padding-top: 50px;
  }
  .headline .frame4 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .headline .flex {
    display: flex;
    justify-content: center;
    margin: 30px 25px;
    align-items: center;
  }
  .flex .button2 {
    background-color: white;
    padding: 11px 15px;
    border: 0.5px solid rgba(128, 128, 128, 0.471);
    border-radius: 3px;
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.462) ;
  }
  
  .card ul {
    display: flex;
    list-style-type: none;
    justify-content: left;
  }
  .card ul li img {
    margin-right: 8px;
  } 
   
}
@media screen and (max-width: 300px){
  .flash-cards h1 {
    text-align: center;
    margin-bottom: 60px;
  }
  .row.one .card {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
    background-color: white;
  }
  .row.one .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.one p{
    color: gray;
  }
  .row.two .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.two p{
    color: gray;
  }
  
  .flash-cards .proper {
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 14px;
    padding: 6px 10px;
    background-color:  #E7E8E3;
    border: none;
  }
  .row.two .card {
    background-color: white;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .row.one ul li{
    margin: 10px;
  }
  .row.two ul li{
    margin: 10px;
  }
  .flash-cards {
    position: relative;
    padding-top: 50px;
  }
  .headline .frame4 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .headline .flex {
    display: flex;
    justify-content: center;
    margin: 30px 25px;
    align-items: center;
  }
  .flex .button2 {
    background-color: white;
    padding: 11px 15px;
    border: 0.5px solid rgba(128, 128, 128, 0.471);
    border-radius: 3px;
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.462) ;
  }
  
  .card ul {
    display: flex;
    list-style-type: none;
    justify-content: left;
  }
  .card ul li img {
    margin-right: 8px;
  } 
   
}


.section-8 h1 {
  text-align: center;
}
.section-8 p {
  text-align: center;
  margin: 30px 450px 55px;
  color: gray;
}
.row.three .col-4 {
  background-color: white;
  height: 150px;
  width: 400px;
  margin: 8px;
  padding-left: 45px;
  border-radius: 8px;
}
.row.three .col-4 a {
  color: black;
  text-decoration: none;
}
.row.four .col-4 {
  background-color: white;
  margin: 8px;
  padding-left: 45px;
  height: 150px;
  width: 400px;
  border-radius: 8px;
}
.row.four .col-4 a {
  color: black;
  text-decoration: none;
}
.flex1 {
  display: flex;
  justify-content: center;
  margin: 30px 25px 20px 00;
  align-items: center;
}
.flex1 button {
  background-color: white;
  padding: 11px 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.188);
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.188);
  border-radius: 8px;
  margin-right: 20px;
}
@media screen and (max-width:1200px){
  
.section-8 h1 {
  text-align: center;
}
.section-8 p {
  text-align: center;
  margin: 30px 300px 55px;
  color: gray;
}
.row.three .col-4 {
  background-color: white;
  height: 150px;
  width: 400px;
  margin: 8px;
  padding-left: 45px;
  border-radius: 8px;
}
.row.three .col-4 a {
  color: black;
  text-decoration: none;
}
.row.four .col-4 {
  background-color: white;
  margin: 8px;
  padding-left: 45px;
  height: 150px;
  width: 400px;
  border-radius: 8px;
}
.row.four .col-4 a {
  color: black;
  text-decoration: none;
}
.flex1 {
  display: flex;
  justify-content: center;
  margin: 30px 25px 20px 00;
  align-items: center;
}
.flex1 button {
  background-color: white;
  padding: 11px 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.188);
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.188);
  border-radius: 8px;
  margin-right: 20px;
}
    
}
@media screen and (max-width: 998px) {
    
.section-8 h1 {
  text-align: center;
}
.section-8 p {
  text-align: center;
  margin: 30px 150px 55px;
  color: gray;
}
.row.three .col-4 {
  background-color: white;
  height: 150px;
  width: 400px;
  margin: 8px;
  padding-left: 45px;
  border-radius: 8px;
}
.row.three .col-4 a {
  color: black;
  text-decoration: none;
}
.row.four .col-4 {
  background-color: white;
  margin: 8px;
  padding-left: 45px;
  height: 150px;
  width: 400px;
  border-radius: 8px;
}
.row.four .col-4 a {
  color: black;
  text-decoration: none;
}
.flex1 {
  display: flex;
  justify-content: center;
  margin: 30px 25px 20px 00;
  align-items: center;
}
.flex1 button {
  background-color: white;
  padding: 11px 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.188);
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.188);
  border-radius: 8px;
  margin-right: 20px;
}
}
@media screen and (max-width: 768px) {
    
.section-8 h1 {
  text-align: center;
  font-size: 20px;
}
.section-8 p {
  text-align: center;
  margin: 30px 100px 55px;
  color: gray;
}
.row.three .col-4 {
  background-color: white;
  height: 150px;
  width: 400px;
  margin: 8px;
  padding-left: 45px;
  border-radius: 8px;
}
.row.three .col-4 a {
  color: black;
  text-decoration: none;
}
.row.four .col-4 {
  background-color: white;
  margin: 8px;
  padding-left: 45px;
  height: 150px;
  width: 400px;
  border-radius: 8px;
}
.row.four .col-4 a {
  color: black;
  text-decoration: none;
}
.flex1 {
  display: flex;
  justify-content: center;
  margin: 30px 25px 20px 00;
  align-items: center;
}
.flex1 button {
  background-color: white;
  padding: 11px 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.188);
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.188);
  border-radius: 8px;
  margin-right: 20px;
}
}
@media screen and (max-width: 576px){
    
.section-8 h1 {
  text-align: center;
  font-size: 16px;
}
.section-8 p {
  text-align: center;
  margin: 30px 50px 55px 0;
  color: gray;
}
.row.three .col-4 {
  background-color: white;
  height: 150px;
  width: 400px;
  margin: 8px;
  padding-left: 45px;
  border-radius: 8px;
}
.row.three .col-4 a {
  color: black;
  text-decoration: none;
}
.row.four .col-4 {
  background-color: white;
  margin: 8px;
  padding-left: 45px;
  height: 150px;
  width: 400px;
  border-radius: 8px;
}
.row.four .col-4 a {
  color: black;
  text-decoration: none;
}
.flex1 {
  display: flex;
  justify-content: center;
  margin: 30px 25px 20px 00;
  align-items: center;
}
.flex1 button {
  background-color: white;
  padding: 11px 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.188);
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.188);
  border-radius: 8px;
  margin-right: 20px;
}
}
@media screen and (max-width: 300px){
    
.section-8 h1 {
  text-align: center;
  font-size: 14px;
}
.section-8 p {
  text-align: center;
  margin: 30px 10px 5px;
  color: gray;
}
.row.three .col-4 {
  background-color: white;
  height: 150px;
  width: 400px;
  margin: 8px;
  padding-left: 45px;
  border-radius: 8px;
}
.row.three .col-4 a {
  color: black;
  text-decoration: none;
}
.row.four .col-4 {
  background-color: white;
  margin: 8px;
  padding-left: 45px;
  height: 150px;
  width: 400px;
  border-radius: 8px;
}
.row.four .col-4 a {
  color: black;
  text-decoration: none;
}
.flex1 {
  display: flex;
  justify-content: center;
  margin: 30px 25px 20px 00;
  align-items: center;
}
.flex1 button {
  background-color: white;
  padding: 11px 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.188);
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.188);
  border-radius: 8px;
  margin-right: 20px;
}
}


#container .box img {
  display: inline-block;
  align-items: center;
}
#container .box h2 {
  color: white;
}
.box p {
  text-align: center;
  margin: 0;
  color: white;
}
.box img {
  margin: 40px;
  height: 70px;
  background-color: white;
  border-radius: 8px;
}
.box{
  text-align: center;
}
.box button {
  margin: 55px auto;
  background-color: #CF6F49;
  border-radius: 5px;
  border: none;
  padding: 9px;
  color: white;
}


#container {
  width: 100%;
  background: rgba(128, 128, 128, 0.441);
  position: relative;
}
div.green {
  height: 100%;
}
div.red {
  background: white;

  height: 100%;
}
div.box {
  width: 80%;
  margin: 0 150px 0 150px;
  border-radius: 12px;
  background: gray;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.section-9 {
  margin-top: 250px;
}
.section-9 h2 {
  text-align: center;
}
.section-9 p {
  text-align: center;
  color: gray;
}
.col-4 .name {
  font-weight: 700;
  font-size: 16px;
}
.col-4 .range {
  color: gray;
}
.row.five .col-4 {
  margin: 20px;
  border: 1px solid rgba(128, 128, 128, 0.462);
  border-radius: 12px;
  padding: 18px;
}
.row.five .col-4 p{
  margin: 12px;
}
.col-4 .first {
  float: left;
  padding-right: 11px;
  background-color: white;
}
.section-10 {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.084);
  height: 1200px;
}
.section-10 button {
  margin: 10px 0px 20px 0px;
  background-color: rgba(128, 128, 128, 0.57);
  border: none;
  padding: 9px 15px;
  border-radius: 18px;
  float: left;
}
.section-10 h3 {
  margin: 10px 0;
}
.section-10 p{
  color: gray;
}
.section-10 ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  color: gray;
}
.col-7 p {
  margin-right: 70px;
  color: gray;
  width: 60%;
}
.col-5 .view {
  margin-top: 15px;
  padding: 10px 18px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 0.332);
  box-shadow: 0 2px 0 gainsboro;
}
.row.six .col-4 {
  margin: 22px;
  border-radius: 12px;
  padding: 8px;
  background-color: white;
}
.col-4 .trend {
  background-color: #fae8e1;
}
.col-4 .paragraph4 {
  color: gray;
}
.col-4 .link1.link2 {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.col-4 .link1 {
  text-decoration: none;
  color: black;
}


.footer {
  margin-top: 10px;
  height: 500px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.footer ul {
  list-style-type: none;
}
.footer ul li{
  padding: 10px;
}
.footer button {
  background-color: #CF6F49;
  padding: 11px 17px;
  border: none;
  color: white;
  border-radius: 8px;
}
.footer input {
  padding: 11px 17px;
  border: 1px solid gainsboro;
  color: rgb(133, 122, 122);
  border-radius: 8px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
.bottom img {
  margin: 5px;
}
.bottom p {
  color: gray;
}
footer .footer2 {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.footer2 img {
  margin: 8px;
}


@media screen and (max-width:1200px){
  
.footer {
  margin-top: 20px;
  height: 500px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.footer ul {
  list-style-type: none;
}
.footer ul li{
  padding: 10px;
}
.footer button {
  background-color: #CF6F49;
  padding: 11px 17px;
  border: none;
  color: white;
  border-radius: 8px;
}
.footer input {
  padding: 11px 17px;
  border: 1px solid gainsboro;
  color: rgb(133, 122, 122);
  border-radius: 8px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
.bottom img {
  margin: 5px;
}
.bottom p {
  color: gray;
}
footer .footer2 {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.footer2 img {
  margin: 8px;
}
    
}
@media screen and (max-width: 998px) {
  
.footer {
  margin-top: 300px;
  height: 500px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.footer ul {
  list-style-type: none;
}
.footer ul li{
  padding: 10px;
}
.footer button {
  background-color: #CF6F49;
  padding: 11px 17px;
  border: none;
  color: white;
  border-radius: 8px;
}
.footer input {
  padding: 11px 17px;
  border: 1px solid gainsboro;
  color: rgb(133, 122, 122);
  border-radius: 8px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
.bottom img {
  margin: 5px;
}
.bottom p {
  color: gray;
}
footer .footer2 {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.footer2 img {
  margin: 8px;
}
}
@media screen and (max-width: 768px) {
 
.footer {
  margin-top: 700px;
  height: 500px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.footer ul {
  list-style-type: none;
}
.footer ul li{
  padding: 10px;
}
.footer button {
  background-color: #CF6F49;
  padding: 11px 17px;
  border: none;
  color: white;
  border-radius: 8px;
}
.footer input {
  padding: 11px 17px;
  border: 1px solid gainsboro;
  color: rgb(133, 122, 122);
  border-radius: 8px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
.bottom img {
  margin: 5px;
}
.bottom p {
  color: gray;
}
footer .footer2 {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.footer2 img {
  margin: 8px;
} 
}
@media screen and (max-width: 576px){
  
.footer {
  margin-top: 800px;
  height: 500px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.footer ul {
  visibility: hidden;
  list-style-type: none;
}
.footer ul li{
  padding: 10px;
}
.footer button {
  background-color: #CF6F49;
  padding: 11px 17px;
  border: none;
  color: white;
  border-radius: 8px;
}
.footer input {
  padding: 11px 17px;
  border: 1px solid gainsboro;
  color: rgb(133, 122, 122);
  border-radius: 8px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
.bottom img {
  margin: 5px;
}
.bottom p {
  color: gray;
}
footer .footer2 {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.footer2 img {
  margin: 8px;
}
}
@media screen and (max-width: 300px){
 
}