* {
  box-sizing: border-box;
  padding:0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.container{ 
  max-width: 1340px;
  padding: 0px;
  margin: 0 auto;
}
.header__top {
  background-color: #939878;
  text-align: center;
  padding: 10px 0;
  height: 40px;
  display: flex;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.header__bottom{
  height: 74px;
  padding: 21px 0;
  background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
border-radius: 0px;
  }
.btn{
  cursor: pointer;
  border: 1px solid #E7E8E3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 9px 21px;
  background: #CF6F49;

}

.btn.btn-white{
  display: flex;
  align-items: center;
  column-gap: 4px;
  background: #FFFFFF;
  border: 1px solid #E7E8E3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
.header__btns{
  display: flex;
  column-gap: 16px;
}
.header__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list{
  display: flex;
  column-gap: 32px;
  align-items: center;

} 
.header__link{
  color: black;
}






.section-1{
  margin: 0;
  position: absolute;
  max-width: 100%;
}
.row.appartment{
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.row.appartment .col-6 .section{
  position: relative;
  padding: 0 40px 0 ;
  margin: 0;
  width: 720px;
  height: 686px;
  background-color: #F5F5F2;

}
.row.appartment .col-6 .appartment-1{
  max-width: 720px;
  height: 686px;
}

 .row.appartment .col-6 .frame-1 {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
.row.appartment .col-6 .frame-2 {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
} 

.section .button-1 {
  display: inline-block;
  border: none;
  margin-top: 110px;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 21px;
  color: #2A2C1F;
  background: #E7E8E3;
  border-radius: 32px;
}
.section h2 {
  margin-top: 20px;
height: 135px;
left: 0%;
right: 7.86%;
top: 49.42px;
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 67px;
color: #2A2C1F;
}
.section p {
height: 90px;
left: 0%;
right: 10.18%;
top: 205.42px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
margin-bottom: 20px;
color: #65665C;

}



.form{
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.form input {
  width: 310px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #E7E8E3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);border-radius: 6px;
  padding-left: 56px;
  color: gray;
  background-image: url(./icon/look.png);
  background-position: 7px 7px;
  background-repeat: no-repeat;
}

.form .button-2 {
  margin-left: 8px;
  background-color: #cf6f49;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}
.section-2{
  margin: 50px 60px;
} 
.section-2 nav ul li img{
  margin: 20px;
}
.section-2 nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2 .paragraph {
  display: inline-block;
  padding-right: 500px;
  margin-left: 8px;
  font-size: 18px;
  font-weight: 400;
}
.section-2 nav ul a {
  background-color: white;
  color:#737680;
  font-weight: 600;
  list-style-type: none;
}
.section-3 {
  margin-top: 70px;
  text-align: center;
}
.section-3 h1{
  font-size: 40px;
  padding: 12px;
}
.section-3 p {
  color: #65665C;
  margin: 15px;
}
.section-4 {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 70px 0;
}
.section-4 img {
  height: 50px;
  width: 50px;
  background-color: #fae8e1;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 20px;
}
.section-4 p {
  margin: 18px 30px;
  color: gray;
}
.section-4 .part-1 {
  display: inline;
  padding-top: 50px;
  width: 32%;
  border: 1px solid rgba(128, 128, 128, 0.316);
  box-shadow: 0 0 1.5px gray;
  border-radius: 10px;
  margin: 0 20px;
}
.section-4 .part-2 {
  display: inline;
  padding-top: 50px;
  width: 32%;
  border: 1px solid rgba(128, 128, 128, 0.316);
  box-shadow: 0 0 1.5px gray;
  border-radius: 10px;
  margin: 0 20px;
}

.section-4 .part-3 {
  display: inline;
  padding: 50px;
  width: 32%;
  border: 1px solid rgba(128, 128, 128, 0.316);
  box-shadow: 0 0 1.5px gray;
  border-radius: 10px;
  margin: 0 20px;
}

.section-5 .row {
  margin: 0;
  display: flex;
  justify-content: center;
} 
.col-6 .option-1 {
  max-width: 700px;
  padding: 150px 200px 1px 50px;
  height: 600px;
}
.option-1 .button-1 {
  border-radius: 12px;
  margin-bottom: 30px;
  padding: 3px 7px;
  border: 1px solid #E7E8E3;
  background-color: #E7E8E3;
}
.option-1 .button-2 {
  padding: 10px;
  background-color: white;
  border: 1px solid gainsboro;
  box-shadow: 0 0 2px;
  border-radius: 5px;
  width: 192px;
}
.option-1 h1 {
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 20px;
}
.option-1 p {
  color: gray;
  padding-bottom: 25px;
}
.option-1 .button-3 {
  padding: 40px;
}
.row .col-6 .appartment-2{
  height: 600px;
  max-width: 100%;
}

.row.row-2{
  max-width: 100%;
  display: flex;
  margin-top: 80px;
}
.row.row-2 p{
  color: gray;
}

.row.row-2 .col-6 .appartment-3{
width: 600px;
height: 600px;
}

.option {
  margin: 0px 170px 80px 65px;
}
.option button {
  margin: 60px 0 40px;
  padding: 7px 10px;
  background-color:  #E7E8E3;
  border-radius: 15px;
  border: none;
}
.option p {
  color: gray;
  margin: 10px 0;
}
.option .col-6 {
  margin: 0;
}
.option img {
  height: 50px;
  width: 45px;
  background-color: #fae8e1;
  padding: 8px;
  border-radius: 8px;
}
.option .explore {
  padding: 12px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.485);
  margin-right: 20px;
}
.option a {
  text-decoration: none;
  color: black;
}
.row.zero{
  display: flex;
}
.option .row.zero img {
  height: 40px;
  width: 50px;
}



.flash-cards .proper {
  margin: 15px auto;
  display: flex;
  border-radius: 14px;
  padding: 6px 10px;
  background-color:  #E7E8E3;
  border: none;
}
.row.row-2 .card {
  background-color: white;
  margin: 10px;
}
.row.one ul li{
  margin: 10px;
}
.row.row-2 ul li{
  margin: 10px;
}
.row.row-2 .option{
  
}
.flash-cards {
  position: relative;
  padding-top: 50px;
}
.headline .frame4 {
  position: absolute;
  top: 0;
  right: 0;
}
.headline .flex {
  display: flex;
  justify-content: center;
  margin: 30px 25px;
  align-items: center;
}
.flex .button2 {
  background-color: white;
  padding: 11px 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.471);
  border-radius: 3px;
  margin-right: 20px;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.462) ;
}

.card ul {
  display: flex;
  list-style-type: none;
  justify-content: left;
}
.card ul li img {
  margin-right: 8px;
} 

/* .row.two col-6 .option{
  height: 500px;
  margin: 0;
  width: 100%;
}
.row.one .card-text{
  margin-left: 18px;
  padding-bottom: 10px;
}
.row.one p{
  color: gray;
}

.row.row-2 .card-text{
  margin-left: 18px;
  padding-bottom: 0px;
} */


/* @media screen and (max-width:1200px){
  .section-6 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 40px 10px;
  }
  
  .section-6 img {
    height: 50px;
    width: 50px;
    background-color: #fae8e1;
    padding: 10px;
    border-radius: 7px;
  }
  .section-6 p {
    margin: 8px 20px;
    color: gray;
  }
  .section-6 h1{
    font-size: 28px;
  }
  .section-6 .part-1 {
    display: inline;
    padding-top: 40px;
    width: 32%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  .section-6 .part-2 {
    display: inline;
    padding-top: 40px;
    width: 32%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  
  .section-6 .part-3 {
    display: inline;
    padding: 40px;
    width: 32%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
    
}
@media screen and (max-width: 998px) {
  .section-6 {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 40px 10px;
  }
  
  .section-6 img {
    height: 50px;
    width: 50px;
    background-color: #fae8e1;
    padding: 10px;
    border-radius: 7px;
  }
  .section-6 h1{
    font-size: 23px;
  }
  .section-6 p {
    margin: 8px 20px;
    color: gray;
  }
  .section-6 .part-1 {
    display: inline;
    padding-top: 30px;
    width: 32%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  .section-6 .part-2 {
    display: inline;
    padding-top: 30px;
    width: 32%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  
  .section-6 .part-3 {
    display: inline;
    padding: 30px;
    width: 32%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
}
@media screen and (max-width: 768px) {
  .section-6 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 10px;
  }
  
  .section-6 img {
    height: 40px;
    width: 40px;
    background-color: #fae8e1;
    padding: 10px;
    border-radius: 7px;
  }
  .section-6 p {
    margin: 8px 10px;
    color: gray;
    font-size: 14px;
  }
  .section-6 h1{
    font-size: 20px;
  }
  .section-6 .part-1 {
    display: inline;
    padding-top: 20px;
    width: 45%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  .section-6 .part-2 {
    display: inline;
    padding-top: 20px;
    width: 45%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  
  .section-6 .part-3 {
    display: inline;
    padding-top: 20px;
    width: 48%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
}
@media screen and (max-width: 576px){
  .section-6 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 10px;
  }
  
  .section-6 img {
    height: 40px;
    width: 40px;
    background-color: #fae8e1;
    padding: 10px;
    border-radius: 7px;
  }
  .section-6 p {
    margin: 8px 10px;
    color: gray;
    font-size: 13px;
  }
  .section-6 h1{
    font-size: 18px;
  }
  .section-6 .part-1 {
    display: inline;
    padding-top: 15px;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  .section-6 .part-2 {
    display: inline;
    padding-top: 15px;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  
  .section-6 .part-3 {
    display: inline;
    padding-top: 15px;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
}
@media screen and (max-width: 300px){
  .section-6 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 10px;
  }
  
  .section-6 img {
    height: 40px;
    width: 40px;
    background-color: #fae8e1;
    padding: 10px;
    border-radius: 7px;
  }
  .section-6 p {
    margin: 8px 10px;
    color: gray;
    font-size: 11px;
  }
  .section-6 h1{
    font-size: 16px;
  }
  .section-6 .part-1 {
    display: inline;
    padding-top: 20px;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  .section-6 .part-2 {
    display: inline;
    padding-top: 20px;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
  
  .section-6 .part-3 {
    display: inline;
    padding: 20px;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.316);
    box-shadow: 0 0 1.5px gray;
    border-radius: 10px;
    margin: 8px;
  }
}  */
/* 
 */
/* 
@media screen and (max-width:1200px){
  .row {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .col-6 .option-1 {
    max-width: 600px;
    padding: 120px 120px 1px 50px;
  }
  .option-1 {
    height: 20px;
  }
  .option-1 .button-1 {
    border-radius: 12px;
    padding: 3px 7px;
    border: 1px solid #E7E8E3;
    background-color: #E7E8E3;
  }
  .option-1 .button-2 {
    padding: 12px;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0 0 2px;
    border-radius: 5px;
  }
  .option-1 h1 {
    font-size: 30px;
    
  }
  .option-1 p {
    color: gray;
  }
  .option-1 .button-3 {
    padding: 40px;
  }
    
}
@media screen and (max-width: 998px) {
  .row {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .col-6 .option-1 {
    max-width: 500px;
    padding: 150px 90px 1px 30px;
  }
  .option-1 {
    height: 20px;
  }
  .option-1 .button-1 {
    border-radius: 12px;
    padding: 3px 5px;
    border: 1px solid #E7E8E3;
    background-color: #E7E8E3;
  }
  .option-1 .button-2 {
    padding: 8px;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0 0 2px;
    border-radius: 5px;
  }
  .option-1 h1 {
    font-size: 20px;
  }
  .option-1 p {
    color: gray;
  }
  .option-1 .button-3 {
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .row {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
  }
  .col-6 .option-1 {
    height: 200px;
    max-width: 100%;
    padding: 20px 10px 1px 10px;
  }
  .option-1 {
    height: 20px;
  }
  .option-1 .button-1 {
    border-radius: 12px;
    padding: 3px 7px;
    border: 1px solid #E7E8E3;
    background-color: #E7E8E3;
  }
  .option-1 .button-2 {
    padding: 12px;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0 0 2px;
    border-radius: 5px;
  }
  .option-1 h1 {
    font-size: 20px;
  }
  .option-1 p {
    color: gray;
  }
  .option-1 .button-3 {
    padding: 10px;
  }
  .row .col-6 img{
    margin: 5px 0;
    height: 200px;
    width: 100%;
  }
}
@media screen and (max-width: 576px){
  .row {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col-6 .option-1 {
    max-width: 800px;
    padding: 100px 130px 1px 50px;
  }
  .option-1 {
    height: 100px;
  }
  .option-1 .button-1 {
    border-radius: 12px;
    margin: 2px;
    border: 1px solid #E7E8E3;
    background-color: #E7E8E3;
  }
  .option-1 .button-2 {
    padding: 12px;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0 0 2px;
    border-radius: 5px;
  }
  .option-1 h1 {
    font-size: 16px;
  }
  .option-1 p {
    color: gray;
    font-size: 12px;
  }
  .option-1 .button-3 {
    padding: 30px;
  }
  .row .col-6 img{
    margin-top: 80px;
    height: 200px;
    width: 100%;
  }
}
@media screen and (max-width: 300px){
  .row {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col-6 .option-1 {
    max-width: 600px;
    padding: 100px 130px 1px 50px;
  }
  .option-1 {
    height: 100px;
  }
  .option-1 .button-1 {
    font-size: 10px;
    border-radius: 12px;
    margin: 2px;
    border: 1px solid #E7E8E3;
    background-color: #E7E8E3;
  }
  .option-1 .button-2 {
    padding: 5px;
    font-size: 10px;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: 0 0 2px;
    border-radius: 5px;
  }
  .option-1 h1 {
    font-size: 16px;
  }
  .option-1 p {
    color: gray;
    font-size: 12px;
  }
  .option-1 .button-3 {
    padding: 30px;
  }
  .row .col-6 img{
    margin-top: 150px;
    height: 200px;
    width: 100%;
  }
} */



/* 

 
@media screen and (max-width:1200px){

  .option .row.zero img {
    height: 40px;
    width: 50px;
  }
  .option {
    margin: 45px 170px 0px 65px;
  }
  .option button {
    padding: 7px 10px;
    background-color:  #E7E8E3;
    border-radius: 15px;
    border: none;
  }
  .option p {
    color: gray;
    margin-bottom: 40px;
  }
  .option .col-6 {
    margin: 0;
  }
  .option img {
    height: 50px;
    width: 45px;
    background-color: #fae8e1;
    padding: 8px;
    border-radius: 8px; */
  /* }
  .option .explore {
    padding: 12px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.485);
    margin-right: 20px;
  }
  .option a {
    text-decoration: none;
    color: black;
  }
  .flash-cards h1 {
    text-align: center;
    margin-bottom: 60px;
  }
  .row.one .card {
    margin: 10px;
    background-color: white;
  }
  .row.one .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.one p{
    color: gray;
  }
  .row.two .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.two p{
    color: gray;
  }
  .row.two col-6{
    height: 500px;
    margin: 0;
    width: 800px;
  }
  .flash-cards .proper {
    margin: 15px auto;
    display: flex;
    border-radius: 14px;
    padding: 6px 10px;
    background-color:  #E7E8E3;
    border: none;
  }
  .row.two .card {
    background-color: white;
    margin: 10px;
  }
  .row.one ul li{
    margin: 10px;
  }
  .row.two ul li{
    margin: 10px;
  }
  .flash-cards {
    position: relative;
    padding-top: 50px;
  }
  .headline .frame4 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .headline .flex { */
    /* display: flex;
    justify-content: center;
    margin: 30px 25px;
    align-items: center;
  }
  .flex .button2 {
    background-color: white;
    padding: 11px 15px;
    border: 0.5px solid rgba(128, 128, 128, 0.471);
    border-radius: 3px;
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.462) ;
  }
  
  .card ul {
    display: flex;
    list-style-type: none;
    justify-content: left;
  }
  .card ul li img {
    margin-right: 8px;
  } 
   */
   
/*     
}
@media screen and (max-width: 998px) {
  
.option .row.zero img {
  height: 40px;
  width: 50px;
}
.option {
  margin: 45px 170px 0px 65px;
}
.option button {
  padding: 7px 10px;
  background-color:  #E7E8E3;
  border-radius: 15px;
  border: none;
}
.option p {
  color: gray;
  margin-bottom: 40px;
}
.option .col-6 {
  margin: 0;
}
.option img {
  height: 50px;
  width: 45px;
  background-color: #fae8e1;
  padding: 8px;
  border-radius: 8px;
}
.option .explore {
  padding: 12px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.485);
  margin-right: 20px;
} */
/* .option a {
  text-decoration: none;
  color: black;
}
.flash-cards h1 {
  text-align: center;
  margin-bottom: 60px;
}
.row.one .card {
  margin: 10px;
  background-color: white;
}
.row.one .card-text{
  margin-left: 18px;
  padding-bottom: 10px;
}
.row.one p{
  color: gray;
}
.row.two .card-text{
  margin-left: 18px;
  padding-bottom: 10px;
}
.row.two p{
  color: gray;
} */
/* .row.two col-6{
  height: 500px;
  margin: 0;
  width: 800px;
}
.flash-cards .proper {
  margin: 15px auto;
  display: flex;
  border-radius: 14px;
  padding: 6px 10px;
  background-color:  #E7E8E3;
  border: none;
}
.row.two .card {
  background-color: white;
  margin: 10px;
}
.row.one ul li{
  margin: 10px;
}
.row.two ul li{
  margin: 10px;
}
.flash-cards {
  position: relative;
  padding-top: 50px;
} */
/* .headline .frame4 {
  position: absolute;
  top: 0;
  right: 0;
}
.headline .flex {
  display: flex;
  justify-content: center;
  margin: 30px 25px;
  align-items: center;
}
.flex .button2 {
  background-color: white;
  padding: 11px 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.471);
  border-radius: 3px;
  margin-right: 20px;
  box-shadow: 0 0 5px rgba(128, 128, 128, 0.462) ;
}

.card ul {
  display: flex;
  list-style-type: none;
  justify-content: left;
}
.card ul li img {
  margin-right: 8px;
}  */

 
   
}
@media screen and (max-width: 768px) {

  .option .row.zero img {
    height: 40px;
    width: 50px;
  }
  .option {
    margin: 45px 170px 0px 65px;
  }
  .option button {
    padding: 7px 10px;
    background-color:  #E7E8E3;
    border-radius: 15px;
    border: none;
  }
  .option p {
    color: gray;
    margin-bottom: 40px;
  }
  .option .col-6 {
    margin: 0;
  }
  .option img {
    height: 50px;
    width: 45px;
    background-color: #fae8e1;
    padding: 8px;
    border-radius: 8px;
  }
  .option .explore {
    padding: 12px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.485);
    margin-right: 20px;
  }
  .option a {
    text-decoration: none;
    color: black; */
  }
  .flash-cards h1 {
    text-align: center;
    margin-bottom: 60px;
  }
  .row.one .card {
    margin: 10px;
    background-color: white;
  }
  .row.one .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.one p{
    color: gray;
  }
  .row.two .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.two p{
    color: gray;
  }
  .row.two col-6{
    height: 500px;
    margin: 0;
    width: 800px;
  }
  .flash-cards .proper {
    margin: 15px auto;
    display: flex;
    border-radius: 14px;
    padding: 6px 10px;
    background-color:  #E7E8E3;
    border: none;
  }
  .row.two .card {
    background-color: white;
    margin: 10px;
  }
  .row.one ul li{
    margin: 10px;
  }
  .row.two ul li{
    margin: 10px;
  }
  .flash-cards {
    position: relative;
    padding-top: 50px;
  }
  .headline .frame4 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .headline .flex {
    display: flex;
    justify-content: center;
    margin: 30px 25px;
    align-items: center;
  }
  .flex .button2 {
    background-color: white;
    padding: 11px 15px;
    border: 0.5px solid rgba(128, 128, 128, 0.471);
    border-radius: 3px;
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.462) ;
  }
  
  .card ul {
    display: flex;
    list-style-type: none;
    justify-content: left;
  }
  .card ul li img {
    margin-right: 8px;
  } 
  
   
   
}
@media screen and (max-width: 576px){
  .flash-cards h1 {
    text-align: center;
    margin-bottom: 60px;
  }
  .row.one .card {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
    background-color: white;
  }
  .row.one .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.one p{
    color: gray;
  }
  .row.two .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.two p{
    color: gray;
  }
  
  .flash-cards .proper {
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 14px;
    padding: 6px 10px;
    background-color:  #E7E8E3;
    border: none;
  }
  .row.two .card {
    background-color: white;
    margin: 10px;
  }
  .row.one ul li{
    margin: 10px;
  }
  .row.two ul li{
    margin: 10px;
  }
  .flash-cards {
    position: relative;
    padding-top: 50px;
  }
  .headline .frame4 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .headline .flex {
    display: flex;
    justify-content: center;
    margin: 30px 25px;
    align-items: center;
  }
  .flex .button2 {
    background-color: white;
    padding: 11px 15px;
    border: 0.5px solid rgba(128, 128, 128, 0.471);
    border-radius: 3px;
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.462) ;
  }
  
  .card ul {
    display: flex;
    list-style-type: none;
    justify-content: left;
  }
  .card ul li img {
    margin-right: 8px;
  } 
   
}
@media screen and (max-width: 300px){
  .flash-cards h1 {
    text-align: center;
    margin-bottom: 60px;
  }
  .row.one .card {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
    background-color: white;
  }
  .row.one .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.one p{
    color: gray;
  }
  .row.two .card-text{
    margin-left: 18px;
    padding-bottom: 10px;
  }
  .row.two p{
    color: gray;
  }
  
  .flash-cards .proper {
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 14px;
    padding: 6px 10px;
    background-color:  #E7E8E3;
    border: none;
  }
  .row.two .card {
    background-color: white;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  .row.one ul li{
    margin: 10px;
  }
  .row.two ul li{
    margin: 10px;
  }
  .flash-cards {
    position: relative;
    padding-top: 50px;
  }
  .headline .frame4 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .headline .flex {
    display: flex;
    justify-content: center;
    margin: 30px 25px;
    align-items: center;
  }
  .flex .button2 {
    background-color: white;
    padding: 11px 15px;
    border: 0.5px solid rgba(128, 128, 128, 0.471);
    border-radius: 3px;
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.462) ;
  }
  
  .card ul {
    display: flex;
    list-style-type: none;
    justify-content: left;
  }
  .card ul li img {
    margin-right: 8px;
  } 
   
}

.flash-cards .headline button {
  padding: 10px;
  border: none;
  border-radius: 12px;
  display: inline;
  align-items: center;
}




.flash-cards h1 {
  text-align: center;
  margin-bottom: 60px;
}



.section-8 h1 {
  text-align: center;
}
.section-8 p {
  text-align: center;
  margin: 30px 450px 55px;
  color: gray;
}
.row.three .col-4 {
  background-color: white;
  height: 150px;
  width: 400px;
  margin: 8px;
  padding-left: 45px;
  border-radius: 8px;
}
.row.three .col-4 a {
  color: black;
  text-decoration: none;
}
.row.four .col-4 {
  background-color: white;
  margin: 8px;
  padding-left: 45px;
  height: 150px;
  width: 400px;
  border-radius: 8px;
}
.row.four .col-4 a {
  color: black;
  text-decoration: none;
}
.flex1 {
  display: flex;
  justify-content: center;
  margin: 30px 25px 20px 00;
  align-items: center;
}
.flex1 button {
  background-color: white;
  padding: 11px 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.188);
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.188);
  border-radius: 8px;
  margin-right: 20px;
}
@media screen and (max-width:1200px){
  
.section-8 h1 {
  text-align: center;
}
.section-8 p {
  text-align: center;
  margin: 30px 300px 55px;
  color: gray;
}
.row.three .col-4 {
  background-color: white;
  height: 150px;
  width: 400px;
  margin: 8px;
  padding-left: 45px;
  border-radius: 8px;
}
.row.three .col-4 a {
  color: black;
  text-decoration: none;
}
.row.four .col-4 {
  background-color: white;
  margin: 8px;
  padding-left: 45px;
  height: 150px;
  width: 400px;
  border-radius: 8px;
}
.row.four .col-4 a {
  color: black;
  text-decoration: none;
}
.flex1 {
  display: flex;
  justify-content: center;
  margin: 30px 25px 20px 00;
  align-items: center;
}
.flex1 button {
  background-color: white;
  padding: 11px 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.188);
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.188);
  border-radius: 8px;
  margin-right: 20px;
}
    
}
@media screen and (max-width: 998px) {
    
.section-8 h1 {
  text-align: center;
}
.section-8 p {
  text-align: center;
  margin: 30px 150px 55px;
  color: gray;
}
.row.three .col-4 {
  background-color: white;
  height: 150px;
  width: 400px;
  margin: 8px;
  padding-left: 45px;
  border-radius: 8px;
}
.row.three .col-4 a {
  color: black;
  text-decoration: none;
}
.row.four .col-4 {
  background-color: white;
  margin: 8px;
  padding-left: 45px;
  height: 150px;
  width: 400px;
  border-radius: 8px;
}
.row.four .col-4 a {
  color: black;
  text-decoration: none;
}
.flex1 {
  display: flex;
  justify-content: center;
  margin: 30px 25px 20px 00;
  align-items: center;
}
.flex1 button {
  background-color: white;
  padding: 11px 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.188);
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.188);
  border-radius: 8px;
  margin-right: 20px;
}
}
@media screen and (max-width: 768px) {
    
.section-8 h1 {
  text-align: center;
  font-size: 20px;
}
.section-8 p {
  text-align: center;
  margin: 30px 100px 55px;
  color: gray;
}
.row.three .col-4 {
  background-color: white;
  height: 150px;
  width: 400px;
  margin: 8px;
  padding-left: 45px;
  border-radius: 8px;
}
.row.three .col-4 a {
  color: black;
  text-decoration: none;
}
.row.four .col-4 {
  background-color: white;
  margin: 8px;
  padding-left: 45px;
  height: 150px;
  width: 400px;
  border-radius: 8px;
}
.row.four .col-4 a {
  color: black;
  text-decoration: none;
}
.flex1 {
  display: flex;
  justify-content: center;
  margin: 30px 25px 20px 00;
  align-items: center;
}
.flex1 button {
  background-color: white;
  padding: 11px 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.188);
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.188);
  border-radius: 8px;
  margin-right: 20px;
}
}
@media screen and (max-width: 576px){
    
.section-8 h1 {
  text-align: center;
  font-size: 16px;
}
.section-8 p {
  text-align: center;
  margin: 30px 50px 55px 0;
  color: gray;
}
.row.three .col-4 {
  background-color: white;
  height: 150px;
  width: 400px;
  margin: 8px;
  padding-left: 45px;
  border-radius: 8px;
}
.row.three .col-4 a {
  color: black;
  text-decoration: none;
}
.row.four .col-4 {
  background-color: white;
  margin: 8px;
  padding-left: 45px;
  height: 150px;
  width: 400px;
  border-radius: 8px;
}
.row.four .col-4 a {
  color: black;
  text-decoration: none;
}
.flex1 {
  display: flex;
  justify-content: center;
  margin: 30px 25px 20px 00;
  align-items: center;
}
.flex1 button {
  background-color: white;
  padding: 11px 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.188);
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.188);
  border-radius: 8px;
  margin-right: 20px;
}
}
@media screen and (max-width: 300px){
    
.section-8 h1 {
  text-align: center;
  font-size: 14px;
}
.section-8 p {
  text-align: center;
  margin: 30px 10px 5px;
  color: gray;
}
.row.three .col-4 {
  background-color: white;
  height: 150px;
  width: 400px;
  margin: 8px;
  padding-left: 45px;
  border-radius: 8px;
}
.row.three .col-4 a {
  color: black;
  text-decoration: none;
}
.row.four .col-4 {
  background-color: white;
  margin: 8px;
  padding-left: 45px;
  height: 150px;
  width: 400px;
  border-radius: 8px;
}
.row.four .col-4 a {
  color: black;
  text-decoration: none;
}
.flex1 {
  display: flex;
  justify-content: center;
  margin: 30px 25px 20px 00;
  align-items: center;
}
.flex1 button {
  background-color: white;
  padding: 11px 15px;
  border: 0.5px solid rgba(128, 128, 128, 0.188);
  box-shadow: 0 0 3px rgba(128, 128, 128, 0.188);
  border-radius: 8px;
  margin-right: 20px;
}
}


#container .box img {
  display: inline-block;
  align-items: center;
}
#container .box h2 {
  color: white;
}
.box p {
  text-align: center;
  margin: 0;
  color: white;
}
.box img {
  margin: 40px;
  height: 70px;
  background-color: white;
  border-radius: 8px;
}
.box{
  text-align: center;
}
.box button {
  margin: 55px auto;
  background-color: #CF6F49;
  border-radius: 5px;
  border: none;
  padding: 9px;
  color: white;
}


#container {
  width: 100%;
  background: rgba(128, 128, 128, 0.441);
  position: relative;
}
div.green {
  height: 100%;
}
div.red {
  background: white;

  height: 100%;
}
div.box {
  width: 80%;
  margin: 0 150px 0 150px;
  border-radius: 12px;
  background: gray;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.section-9 {
  margin-top: 250px;
}
.section-9 h2 {
  text-align: center;
}
.section-9 p {
  text-align: center;
  color: gray;
}
.col-4 .name {
  font-weight: 700;
  font-size: 16px;
}
.col-4 .range {
  color: gray;
}
.row.five .col-4 {
  margin: 20px;
  border: 1px solid rgba(128, 128, 128, 0.462);
  border-radius: 12px;
  padding: 18px;
}
.row.five .col-4 p{
  margin: 12px;
}
.col-4 .first {
  float: left;
  padding-right: 11px;
  background-color: white;
}
.section-10 {
  padding: 50px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.084);
  height: 1200px;
}
.section-10 button {
  margin: 10px 0px 20px 0px;
  background-color: rgba(128, 128, 128, 0.57);
  border: none;
  padding: 9px 15px;
  border-radius: 18px;
}
.section-10 h3 {
  margin: 10px 0;
}

.section-10 ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  color: gray;
}
.col-7 p {
  color: gray;
}
.col-5 .view {
  margin-top: 15px;
  padding: 10px 18px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 0.332);
  box-shadow: 0 2px 0 gainsboro;
}
.row.six .col-4 {
  margin: 22px;
  border-radius: 12px;
  padding: 8px;
  background-color: white;
}
.col-4 .trend {
  background-color: #fae8e1;
}
.col-4 .paragraph4 {
  color: gray;
}
.col-4 .link1.link2 {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.col-4 .link1 {
  text-decoration: none;
  color: black;
}


.footer {
  margin-top: 10px;
  height: 500px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.footer ul {
  list-style-type: none;
}
.footer ul li{
  padding: 10px;
}
.footer button {
  background-color: #CF6F49;
  padding: 11px 17px;
  border: none;
  color: white;
  border-radius: 8px;
}
.footer input {
  padding: 11px 17px;
  border: 1px solid gainsboro;
  color: rgb(133, 122, 122);
  border-radius: 8px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
.bottom img {
  margin: 5px;
}
.bottom p {
  color: gray;
}
footer .footer2 {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.footer2 img {
  margin: 8px;
}


@media screen and (max-width:1200px){
  
.footer {
  margin-top: 20px;
  height: 500px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.footer ul {
  list-style-type: none;
}
.footer ul li{
  padding: 10px;
}
.footer button {
  background-color: #CF6F49;
  padding: 11px 17px;
  border: none;
  color: white;
  border-radius: 8px;
}
.footer input {
  padding: 11px 17px;
  border: 1px solid gainsboro;
  color: rgb(133, 122, 122);
  border-radius: 8px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
.bottom img {
  margin: 5px;
}
.bottom p {
  color: gray;
}
footer .footer2 {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.footer2 img {
  margin: 8px;
}
    
}
@media screen and (max-width: 998px) {
  
.footer {
  margin-top: 300px;
  height: 500px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.footer ul {
  list-style-type: none;
}
.footer ul li{
  padding: 10px;
}
.footer button {
  background-color: #CF6F49;
  padding: 11px 17px;
  border: none;
  color: white;
  border-radius: 8px;
}
.footer input {
  padding: 11px 17px;
  border: 1px solid gainsboro;
  color: rgb(133, 122, 122);
  border-radius: 8px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
.bottom img {
  margin: 5px;
}
.bottom p {
  color: gray;
}
footer .footer2 {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.footer2 img {
  margin: 8px;
}
}
@media screen and (max-width: 768px) {
 
.footer {
  margin-top: 700px;
  height: 500px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.footer ul {
  list-style-type: none;
}
.footer ul li{
  padding: 10px;
}
.footer button {
  background-color: #CF6F49;
  padding: 11px 17px;
  border: none;
  color: white;
  border-radius: 8px;
}
.footer input {
  padding: 11px 17px;
  border: 1px solid gainsboro;
  color: rgb(133, 122, 122);
  border-radius: 8px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
.bottom img {
  margin: 5px;
}
.bottom p {
  color: gray;
}
footer .footer2 {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.footer2 img {
  margin: 8px;
} 
}
@media screen and (max-width: 576px){
  
.footer {
  margin-top: 800px;
  height: 500px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.footer ul {
  visibility: hidden;
  list-style-type: none;
}
.footer ul li{
  padding: 10px;
}
.footer button {
  background-color: #CF6F49;
  padding: 11px 17px;
  border: none;
  color: white;
  border-radius: 8px;
}
.footer input {
  padding: 11px 17px;
  border: 1px solid gainsboro;
  color: rgb(133, 122, 122);
  border-radius: 8px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}
.bottom img {
  margin: 5px;
}
.bottom p {
  color: gray;
}
footer .footer2 {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.footer2 img {
  margin: 8px;
}
}
@media screen and (max-width: 300px){
 
}