* {
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  margin: 0;
}
.first {
  background-color: rgba(76, 106, 81, 0.816);
  text-align: center;
  color: white;
  margin: 0;
  padding: 8px;
  display: flex;
  justify-content: space-around;
}
nav ul li .li-1 {
  font-weight: bolder;
  padding: 0 450px 0 100px;
  display: flex;
  align-items: center;
}
nav ul li .li-1 img {
  padding: 5px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  background-color: white;
  padding: 15px;
}

nav ul li a {
  text-decoration: none;
  padding: 20px;
  color: black;
  border: 1px solid rgba(215, 210, 210, 0.118);
}

.button-first {
  margin: 20px 15px;
  border-radius: 7px;
  padding: 7px 25px;
  border: 1px solid rgba(128, 128, 128, 0.197);
  height: 20px;
  padding: 13px 20px 23px 20px;
}
.button-1 {
  padding: 6px;
  border-radius: 8px;
}
.button-first.b1 {
  color: black;
  background-color: white;
  width: 110px;
}
.button-first.b2 {
  color: white;
  background-color: rgb(235, 130, 19);
  width: 150px;
  border: 1px solid orange;
}

.container{
  margin: 0 0;
}
.section .frame-1{
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
.section .frame-2{
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.section{
  background-color: rgba(128, 128, 128, 0.09);
  height: 700px;
  position: relative;
}
.section .button-1{
  border: none;
  padding: 8px;
  border-radius: 15px;
  margin: 120px 50px 0 50px ;
}
.section h1{
  font-weight: 500;
  font-size: 50px;
  padding: 0px 130px;
}
.section p{
  padding: 0 190px 0 130px;
  color: gray;
  font-size: 20px;
}
.col-6 img{
  height: 700px;
  width: 700px;
}
.section input{
  margin-left: 130px ;
  padding: 8px 30px 8px 28px;
  color: gray;
  border: 1px solid rgba(128, 128, 128, 0.222);
  border-radius: 8px;
  background-image: url(./icon/look.png);
  background-position: 7px 7px;
  background-repeat: no-repeat;

}
.section .button-2{
  background-color: rgba(227, 70, 13, 0.9);
  border: none;
  color: white;
  padding: 8px 20px ;
}

.back{
  background-color: rgba(128, 128, 128, 0.158);
}

.flash-cards .headline button{
padding: 10px;
border: none;
border-radius: 12px;
display: inline;
align-items: center;
}

.section-4 nav .paragraph {
  display: inline-block;
  padding-right: 500px;
}
.section-4 nav ul a {
  background-color: white;
  color: gray;
  font-weight: 600;
  list-style-type: none;
} 
.section-5 {
  text-align: center;
}
.section-6 {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 40px 10px;
}
.section-6 p {
  max-width: 80%;
}
.section-6 .part-1 {
  display: inline;
  padding-top: 50px;
  width: 32%;
  border: 1px solid rgba(128, 128, 128, 0.316);
  border-radius: 10px;
  margin: 8px;
}
.section-6 .part-2 {
  display: inline;
  padding-top: 50px;
  width: 32%;
  border: 1px solid rgba(128, 128, 128, 0.316);
  border-radius: 10px;
  margin: 8px;
}

.section-6 .part-3 {
  display: inline;
  padding: 50px;
  width: 32%;
  border: 1px solid rgba(128, 128, 128, 0.316);
  border-radius: 10px;
  margin: 8px;
}
.row {
  margin: 0;
  display: flex;
  justify-content: center;
}
.option-1,
.part-1 {
  padding-top: 150px;
  max-width: 700px;
}
.option-1 .button-1 {
  border-radius: 12px;
  border: 1px solid rgba(128, 128, 128, 0.31);
  margin-left: 0px;
}
.option-1 .button-2 {
  padding: 12px;
  margin: 5px 20px;
  background-color: white;
  border: 1px solid gainsboro;
  box-shadow: 0 0 2px;
  border-radius: 5px;
}
.option-1 p {
  color: gray;
}
.option-1
.button-3 {
  padding: 40px;
}
.option img{
  height: 20px;
  width: 20px;
}
.row.one .card{
  margin: 8px;
  background-color: white;
}
.row.two .card{
  background-color: white;
  margin: 8px;
}

 .flash-cards{
  position: relative;
}
.headline .frame4{
  position: absolute;
  top: 0;
  right: 0;
} 

.flash-cards button{
  display: inline-block;
  align-items: center;
  margin-left: 350px;
}
.section-8 h1{
  text-align: center;
}
.section-8 p{
  text-align: center;
}
.row.three .col-4{
  background-color: white;
  height: 150px;
  width: 400px;
  margin: 8px;
  padding-left: 45px;
  border-radius: 8px;
}
.row.four .col-4{
  background-color: white;
  margin-bottom: 18px;
  padding-left: 45px;
  height: 150px;
  width: 400px;
  border-radius: 8px;
}
.button-5 button{
  display: inline-block;
  margin-left: 350px;

}

.container .gray{
  display: inline-block;
  align-items: center;
  background-color: rgb(104, 101, 101);
  border-radius: 12px;
}
.container.container-1{
  margin:  0 250px;
}
.gray img{
  display: inline-block;
  align-items: center;
}
.gray h2{
  text-align: center;
  color: white;
}
.gray p{
  text-align: center;
  margin: 0 80px;
  color:white;
}
.gray img{
  margin: 40px 550px;
  height: 70px;
  background-color: white;
  border-radius: 8px;
  }
.gray button{
  margin: 30px 520px;
  background-color: rgb(236, 100, 16);
  border-radius: 5px;
  border: none;
  padding: 9px;
  color: white;
}
.section-9 h2{
  text-align: center;
}
.section-9 p{
  text-align: center;
  color: gray;
}
.row.five .col-4{
  margin: 20px;
  border: 1px solid rgba(128, 128, 128, 0.462);
  border-radius: 12px;
  padding: 18px;
}
.col-4 img{
  float: left;
  padding-right: 11px;
}
.section-10{
  background-color: rgba(128, 128, 128, 0.084);
  height: 800px;
}
.section-10 button{
  margin: 80px 50px;
  background-color: rgba(128, 128, 128, 0.57);
  border: none;
  padding: 8px 15px;
  border-radius: 18px;
}
.section-10 h1{
  margin-left: 30px;
}
.section-10 p.view{
  display: flex;
  justify-content: space-between;

  color: gray;
}
.footer {
  margin-top: 110px;
  height: 500px;
  padding-top: 100px;
  display:  flex;
  justify-content: space-between;
}
.footer ul{
  list-style-type: none;
}
.footer button{
background-color: darkorange;
padding: 11px 17px;
border: none;
color: white;
border-radius: 8px;
}
.footer input{
  padding: 11px 17px;
  border: 1px solid gainsboro;
  color: rgb(133, 122, 122);
  border-radius: 8px;
}

.bottom{
  display: flex;
  justify-content: space-between;
}
.bottom img{
  margin: 5px;
}
.bottom p{
  color: gray;
}
